/* general  */

@font-face {
    font-family: "Game-of-Thrones";
    src: url("assets/Game-of-Thrones.ttf") format("truetype");
}

h1 {
    font-family: "Game-of-Thrones";
}

h2 {
    font-family: "Game-of-Thrones";
    font-size: 14px;
}
   
/* header */

header {
    margin: 30px 0px;
}

/* grille personnages */

.card {
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.26);
}

.fullName {
    margin: 10px 5px;
}

.image { 
    background-position: top;
    background-size: cover;
    height: 250px;
} 
